* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



body {
    max-width: 100vw;
    min-height: 300vh;

    display: flex;
    /* 
        justify-content : along main axis 
        justify-items: it is ignored
        align-items : along cross axis
        align-content: along corss axis, applicabale when flex-wrap is used otherwise not
    */
    flex-direction: column;
    justify-content: space-evenly;
}


header {
    background-color: white;
    background: white;
    width: 100%;
    /*
         Now Header will always remain at top of page even if we scroll
         It is becasue of position is fixed from top: 0px
     */
    position: fixed;
    /* Make the navbar as topmost element among other elements whose position in absolute or relative*/
    z-index: 1;
    top: 0px;
    box-shadow: 0.1rem 0.1rem 8px #d3d3d3df;
}

.main-nav {
    display: flex;
    justify-content: space-between;

    margin: 0.1rem 0rem;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}


.nav-logo {
    flex-grow: 0;
}

.nav-left {
    flex-grow: 1;

}

.nav-right {
    flex-grow: 0.16;
}

.webpage-logo {
    width: 6.5rem;
    height: 1.4rem;
    margin-top: 0.8rem;
    margin-left: 5.2vw;
}

.nav-left-list {
    display: flex;
    margin-left: 2.6vh;
}

.nav-left>.nav-left-list>li:nth-child(1) {
    margin-left: 0.6rem;
    font-weight: bolder;
}

.list-item-1,
.list-item-2 {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3.2rem;
    vertical-align: middle;
    border: 0.01rem solid rgb(255, 255, 255);
}

.list-item-2:last-child {
    flex-grow: 1;
    text-align: end;
}

.main-nav-item-1,
.main-nav-item-2 {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    cursor: pointer;
    /* border-bottom: 0.18rem solid rgb(255, 255, 255); */
}



.sign-in {
    display: inline-block;
    margin-bottom: 0.1rem;
    vertical-align: middle;
}

.main-nav-item-1:hover {
    border-bottom: 0.18rem solid black;
}

.user-login-logo {
    width: 1.35rem;
    margin-left: 0.2rem;
}


.dropdown-Software {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    top: 3.3rem;
    left: 20.5rem;
    width: 16.4rem;

    box-shadow: 0rem 0.1rem #000000df;
    background-color: #eeeeee;
}

.dropdown-Game {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    top: 3.3rem;
    left: 25.9rem;

    width: 16rem;

    box-shadow: 0rem 0.1rem #000000df;
    background-color: #eeeeee;
}



.dropdown-list-item,
.sub-dropdown-list-item {
    display: block;
    position: relative;
    list-style: none;
    width: 100%;
}

.sub-dropdown-list-head {
    display: block;
    position: relative;
    list-style: none;

    max-width: auto;
    height: 3.25rem;
}

.sub-dropdown-list {
    list-style: none;
}

.dropdown-list-item {
    height: 3.25rem;
}

.sub-dropdown-list-item {
    height: 2.72rem;
}

.dropdown-list-item:hover {
    background-color: #e6e6e6;
}

.sub-nav-item,
.sub-nav-head {
    position: relative;
    text-decoration: none;
    color: black;
    top: 1rem;
    left: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

.sub-nav-head {
    font-weight: 600;
    cursor: default;
}

.sub-nav-item:hover {
    border-bottom: 0.04rem solid black;
}

.dropdown-container {
    top: 3.3rem;
    left: 16rem;
    display: none;
    width: 75vw;
    height: 25rem;
    position: absolute;


    background-color: #eeeeee;
    justify-content: space-around;
    box-shadow: 0rem 0.1rem #000000df;
}

.dropdown-list {
    width: 100%;
    list-style: none;
}


.navbar-option-clicked {
    background-color: #eeeeee;
    border: 0.01rem dashed rgb(0, 0, 0);
}

.hambug,
.hambug-open {
    display: none;
    width: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-list {
    display: inline-block;
}

/* For the three lines appearing horizontally*/
.hambug-line {
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 0.12rem;
    margin: 0.12rem;
}

.mob-nav-list {
    display: none;
    position: fixed;
}

.mob-dropdown-title {
    display: none;
    background-color: #d3d3d3df;

}

@media (max-width: 1050px) {

    
    .main-nav-item-2 {
        display: none;
        /*sign option hide*/
    }

    .user-login-logo {
        margin-top: 0.75rem;
    }

    .hambug {
        display: flex;
    }

    header {
        position: static;
        box-shadow: 0.1rem 0.1rem 1px #d3d3d366;
    }

    .nav-left {
        display: none;
        position: absolute;
        top: 3.3rem;

        width: 100%;

        /* Make the navbar as topmost element among other elements whose position in absolute or relative*/
        z-index: 1;

        background-color: #efefef;
    }

    .nav-left>.nav-left-list>li:nth-child(1) {
        margin-left: 1rem;
        height: 3rem;
    }

    .nav-left-list {
        width: 100%;
        flex-wrap: wrap;
        position: static;
        margin: 0px;
        border: 0px;
    }

    .list-item-2 {

        width: 100%;
        height: auto;
        min-height: 3rem;
        margin: 0px;
        padding: 0px;
        margin-left: 1rem;
        position: static;

        /* border: 0.01px solid black; */
        border: 0px;
        font-size: 15px;

        /* display has to be grid*/
        /* LAYER 1*/
        display: grid;
        grid-template-columns: 92% 8%;
        grid-template-rows: repeat(1, minmax(3rem, auto));
        align-items: center;

        box-shadow: 0rem 0.1rem #8080801d;

    }

    .list-item-2:last-child {
        text-align: start;
        height: 3.2rem;
    }


    .dropdown-Software {
        /* display has to be flex*/
        /* LAYER 2*/
        display: none;

        position: static;
        top: 0px;
        left: 0px;


        width: 100%;
        margin: 0px;
        border: 0px;

        box-shadow: none;
        background-color: #efefef;
        grid-column: span 2;
    }

    .dropdown-Game {
        /* display has to be flex*/
        /* LAYER 2*/
        display: none;

        position: static;
        top: 0px;
        left: 0px;

        width: 100%;
        margin: 0px;
        border: 0px;

        background-color: #efefef;
        box-shadow: none;
        grid-column: span 2;
    }

    .main-nav-item-1 {
        margin: 0px;
    }

    .main-nav-item-1:hover {
        border-bottom: 0px;
    }

    .dropdown-list-item {
        box-shadow: 0rem 0.1rem #8080801d;
        margin-left: 0.8rem;
    }


    .dropdown-container {
        /*display has to be flex*/
        display: none;
        position: static;

        flex-wrap: wrap;
        width: 100%;
        min-height: 3rem;
        height: auto;

        border: 0px;
        margin: 0px;
        padding: 0px;

        box-shadow: 0rem 0.1rem #8080801d;
        grid-column: span 2;

    }


    .dropdown-list {
        display: flex;
        flex-wrap: wrap;
        position: static;
        flex-grow: 1;
        /* width: 100%; */
        min-height: 3rem;
        height: auto;
        box-shadow: 0rem 0.1rem #8080801d;
    }

    .sub-dropdown-list-head {
        width: 100%;
        box-shadow: 0rem 0.1rem #8080801d;
        margin-left: 1rem;

        /* LAYER 2*/
        /* Display has to be flex*/
        display: flex;
        align-items: center;
    }

    .sub-dropdown-list {
        /* display has to be flex*/
        /* LAYER 3*/
        display: none;
        flex-wrap: wrap;
        position: static;

        width: 100%;
        min-height: 3.2rem;
        height: auto;
        border: 0px;

        margin-left: 2rem;
        box-shadow: 0rem 0.1rem #8080801d;
    }


    .sub-dropdown-list-item,
    .sub-nav-item {
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: 0px;
        min-height: 3.2rem;
        font-size: 15px;
    }

    .sub-nav-head {
        height: 1rem;
        margin-left: 1rem;
        left: 0px;
        top: 0px;
        flex-grow: 0.932;
        font-weight: normal;
        font-size: 15px;
    }

    .sub-dropdown-list-item {
        box-shadow: 0rem 0.1rem #8080801d;
    }

    .sub-dropdown-list-item:hover {
        background-color: #e6e6e6;
    }

    .sub-dropdown-list-head:hover {
        background-color: #e6e6e6;
    }

    .sub-nav-item:hover {
        border: 0px;
    }
}

footer {
    background-color: rgb(2, 133, 137);
    width: 100%;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-grid {
    display: grid;
}